<%= form_with(model: [@recipe, @comment], url:recipe_comments_path(@recipe), remote: :true) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_field :content, class:"input", placeholder:"コメント" %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
    </div>
  </div>
  <br>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'コメントする', class:"button is-link form__submit mb-2 ml-2" %>
    </div>
  </div>
<% end %>
