
    <div class="comment_box">

    </div>

<div class="comment">
  <div class="box">
    <% comments.each do |comment| %>
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <%= image_tag comment.user.profile_image.url%>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <span><%= link_to comment.user.username, user_path(comment.user.id) %></span>
            <small>投稿日：<%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></small>
            <br>
            <%= comment.content %>
          </p>
        </div>
      </div>
    </article>
    <% end %>
  </div>
</div>
